---
// src/layouts/Layout.astro
import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
}

const { title, description = "L'association de l'IUT de Lannion" } =
  Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title} - Inter-Asso IUT Lannion</title>
  </head>
  <body class="bg-white text-gray-900">
    <slot />
  </body>
</html>
